@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  box-sizing: border-box;

  /* tag colors */
  --tag-color-korean: #212d67;
  --tag-color-breakfast: #ffb050;
  --tag-color-family-sized: #4c2222;
  --tag-color-vegetarian: #1b4b1b;
  --tag-color-dessert: #ffc0cb;
  --tag-color-italian: #6ba96b;
  --tag-color-pasta: #e9b72e;
  --tag-color-drink: #5c30a3;
  --tag-color-alcohol: #783838;
  --tag-color-fish: #252597;
  --tag-color-inactive: #adadad;
  --tag-color-norecipe: black;
  --tag-color-sandwiches: #7e664d;
  --tag-color-sides: #6a6ca9;
  --tag-color-coffee: #5a3b29;

  /* other variables */
  --box-shadow-length: 3px;

  
}

:root {
  font-family: DM Sans, system-ui, Avenir, Helvetica, Arial, sans-serif, Libre Baskerville;
  line-height: 1.5;
  color-scheme: light dark;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-family: "DM Sans";
  font-weight: 700;
  color: var(--link-color);
  text-decoration: inherit;
  transition: color .1s
}

a:hover {
  color: var(--link-hover-color);
  transition: color .2s

}

p {
  font-family: "DM Sans";
}

.recipe-container h1, .recipe-container h2,.recipe-container h3 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}

body {
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
  /* margin: 10px; */
  display: flexbox;
  place-items: center;
  width: 99%;
  min-height: 100vh;
  font-family: 'DM Sans';
  padding-bottom: 300px;

  
  color: #3d405b;
  background-color: #f4f1de;
  --link-color: #456958;
  --link-hover-color: #81b29a;
  --background-recipe-color: #FBFBF9;
  --nav-background-color: #FBFBF9;
  --nav-color: black;
  --base-color: #3d405b;
}

.dark-mode {
  color: #f4f1de;
  background-color: #0e0f16;
  --link-color: #81b29a;
  --link-hover-color: #a0ddbf;
  --background-recipe-color: #212332;
  --nav-background-color: #212332;
  --nav-color: white;
  --base-color: #f4f1de;
}

.st {
  margin: 2px; 
  color: #81b29a; 
  font-style: italic;}

.st-post{
  font-size: 22px;
}
.no-bold {
  font-weight: 400;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;

}

h2 {
  font-size: 30px;
}

hr {
  border-color: #ffffff;
  background-color: #eeeeee;
  opacity: 50%
}


main {
  min-width: 1000px;
  position: relative;
  margin: 0 auto;
}
@media(max-width:750px){
  main {
    min-width: 0%;
    max-width: 95%}
}

nav {
  top: 4px;
  color: var(--nav-color);
  border-radius: 12px;
  /* width: fit-content; */
  padding: 0px;
  /* background: var(--nav-background-color); */
}

.navlink {
  padding-left: 4px;
  padding-right: 4px;
}

/* HOMEPAGE HERO CONTAINER */
.img-cont {
  --img-width: 200px;
  width: var(--img-width);
  height: calc(var(--img-width)*2/3);
}

.img-hp {
  width: 250px;
  height: 167px;
}
@media (max-width:750px) {
  .img-hp {
    width: 100%;
    height: 220px;
  }
}

.img-hero {
  width: 100%;
  height: 500px;
}

#hero-cont {
  position:relative;
}

.hero-textbox {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

#hero-title-text {
  font-size: 50px; 
  font-weight:600; 
  line-height: 26px;
  color: #456958;
}

.foodpic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: -1;
  opacity: 1;
  transition: opacity 0.1s;
}

li:hover .foodpic {
  opacity: 0.85;
  transition: opacity 0.2s;
}

/* DARKMODE SLIDER (ALL PAGES) */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3d405b;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 50%;
}

.dm-svg {
  z-index:2;
  position: relative;
  top: 3px;
}



input:checked + .slider {
  background-color: #8e8e8e;
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input {
  text-indent: 5px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


nav {
  top: 4px;
  color: var(--nav-color);
  border-radius: 12px;
  /* width: fit-content; */
  padding: 0px;
  /* background: var(--nav-background-color); */
}

header {
  top: 4px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-hr {
  min-width: 1000px;
  border: 0;
  height: 0;
  opacity: 50%;
  border-top: 1px solid var(--base-color);
}

strong {
  font-weight: 300;
}

p, li {
  font-size: 18px;
}

button {
    align-content: center;
    height: 40px;
    width: 120px;
    font-family: "DM Sans";
    font-size: 16px;
    background-color: var(--link-color);
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 0px 0px var(--link-color);
    transition: background-color .1s
}

button:hover {
  background-color: var(--link-hover-color);
  cursor: pointer;
  transition: background-color .2s
}



.recipe-container{
  background-color: var(--background-recipe-color);
  border-radius: 12px;
  padding: 20px 15px 5px 15px;
}

.recipe-card-link{
  position:absolute;
  width: 100%;
  height: 100%;
}


/* very janky fix for the card hovering, not keyboard accessible */
li:hover a, li:hover #hero-title-text {
  color: var(--link-hover-color)
}

.hp-icon-cont:hover a{
  color: var(--link-hover-color)
}

.hp-icon-cont:hover .hp-icon-bg {
  opacity: 0.7;
  transition: opacity 0.2s;
}

.cont {
  position:relative;
}
@media (max-width:750px) {
  .cont {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

/* tag styling */
.tag-cont {
  padding: 0px 10px 0px 0px;
}

.tag {
  color: black;
    background: white;
  padding: 4px 8px 4px 8px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

[class*="tag-"]{
  box-shadow: var(--box-shadow-length) var(--box-shadow-length) 0px 2px var(--tag-color);
  outline: 1px solid var(--tag-color);
}

.tag-Alcohol {       --tag-color: var(--tag-color-alcohol)}
.tag-Breakfast {     --tag-color: var(--tag-color-breakfast)}
.tag-Coffee {        --tag-color: var(--tag-color-coffee)}
.tag-Dessert {       --tag-color: var(--tag-color-dessert)}
.tag-Drink {         --tag-color: var(--tag-color-drink)}
.tag-Family-sized {  --tag-color: var(--tag-color-family-sized)}
.tag-Fish {          --tag-color: var(--tag-color-fish)}
.tag-Italian {       --tag-color: var(--tag-color-italian)}
.tag-Korean {        --tag-color: var(--tag-color-korean)}
.tag-not-a-recipe {  --tag-color: var(--tag-color-norecipe)}
.tag-Pasta {         --tag-color: var(--tag-color-pasta)}
.tag-Sandwiches {    --tag-color: var(--tag-color-sandwiches)}
.tag-Sides {         --tag-color: var(--tag-color-sides)}
.tag-Vegetarian {    --tag-color: var(--tag-color-vegetarian)}


.inactive {
  box-shadow: var(--box-shadow-length) var(--box-shadow-length) 0px 2px var(--tag-color-inactive);
  color: var(--tag-color-inactive);
  margin-top: 14px;
  transition: margin-top .1s, border 0.1s;
  outline: none;
}

.get-to-the-top {
  margin-top: 7px;
  transition: margin-top .1s;
}

.gerald1 {
  z-index: -1;
  position: absolute;
  height: 160px;
  width: auto;
  margin-left: 0px;
  left: 650px;
  top: -15px;
  transition: top 0.5s
}

.gerald2 {
  z-index: -1;
  position: absolute;
  height: 160px;
  width: auto;
  margin-left: 0px;
  left: 650px;
  top: -95px;
  transition: top 0.5s
}

@keyframes topSlide{
  from {margin-top: none}
  to {margin-top: 15%}
}
.dark-only {
  display: none;
}

.dark-mode .light-only {
  display: none;
}

.dark-mode .dark-only {
  display: inline;
}

p a {
  text-decoration: underline;
}

.banner {
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.hp-icon-cont {
  display:flex; 
  flex-direction:column; 
  text-align:center;
  cursor:pointer;
}

.hp-icon {
  width:60px;
  height:60px;
  margin: 10px auto 10px auto;
}

.hp-icon-bg {
  width:80px; 
  height:80px; 
  background-color:white; 
  margin:0 auto; 
  border-radius:100%;
  box-shadow: var(--box-shadow-length) var(--box-shadow-length) 0px 2px black;
  opacity: 1;
  transition: opacity 0.1s;
}

.hp-icon-cont a {
  margin-top: 10px;
}

.hp-all-icon-cont {
  max-width: 80%; 
  margin: 0 auto
}

@media (max-width:750px) {
  .hp-all-icon-cont {
    max-width: 95%; 
    margin: 0 auto
  }  
}

#icon-wrapper {
  display:grid; 
  grid-template-columns:repeat(5,1fr); 
  gap: 80px
}
@media (max-width:750px) {
  #icon-wrapper {
    grid-template-columns:repeat(4,1fr);
    gap: 0px;
  }
}

/* styling for icons for categories on the homepage */
.hp-breakfast {
  background-color: #edcc8b;
}

.hp-lunch {
  background-color: #e8b298;
}

.hp-dinner {
  background-color: #d4a29c;
}

.hp-dessert {
  background-color: #bdd1c5;
}

.hp-drink {
  background-color: #9daaa2;
}

#found-post {
  display: flex; 
  flex-direction:row
}
@media (max-width:750px) {
  #found-post {
    flex-direction:column;
  }
}

#fp-tag-cont{
  position:relative
}
@media (max-width:750px) {
  #fp-tag-cont{
    position: absolute;
    margin-left: 10px;
    bottom: 0%;
  }
}
